@page "/"

<h1>Hello, world!</h1>

<p>Skapad på trossen docker workshop 2021-08-31</p>

<p>Dagens datum är: @StringHelper.GetDateTimeString()</p>

<SurveyPrompt Title="How is Blazor working for you?" />